<head>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">
    <link rel="stylesheet" href=".\styles\drList.css">

</head>

<body>
  <!-- navigation bar and logo-->
      <header class="header">
        <img id="one" src=".\images\logo.png" alt="logo" width="70" height="70">
        <p id="two"><b>Dr.  Search</b></p>

        <div class="topnav" id="myTopnav">
          <a href=".\index.html"><i class="fa fa-home" style="font-size:25px;color:lightblue;"></i> Home</a>
          <a class="active" href=".\drIndex.html"><i class="fa fa-search" style="font-size:25px;color:lightblue;"></i> Doctor Search</a>
          <a href=".\medicalIndex.html"><i class="fa fa-medkit" style="font-size:25px;color:lightblue;"></i> Medical Search</a>
          <a href=".\healtharticle.html"><i class="fa fa-heartbeat" style="font-size:25px;color:lightblue;"></i> Health Articles</a>
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
      </header>
 
    <div id="floating-panel">
    <b style="color:orange">Choose Your Mode of Travel: </b>
    <select id="mode">
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="BICYCLING">Bicycling</option>
      <option value="TRANSIT">Transit</option>
    </select>
    </div>
    <br>
    
    <div id="list" ng-init="initMap()">
      <!--Display list of Doctors according to selected city-->
      <div style="overflow-y:auto" ng-repeat="recName in recordArray">        
          <div ng-mouseover="setMarker(recName.latitude,recName.longitude)">
              <p style="margin-left:10px; font-size: 22px; display: inline-block; left: 50px; margin-top: 10px;"><b>{{recName.name}}</b></p><br>
              <img id="drImg" src={{recName.image}} alt="Picture of Doctor"></img>
              <div id="addAndph" class="fade">
                <br>
                 <b>Address</b> : {{recName.address}} <br>
                  <b>Phone Number</b> : {{recName.phone_number}}
              </div>
    
          </div> 
          <div id="drDetails">  
          <div ng-if="bool" class="fade">
                    <br><br><br><br>
                    <b>Email</b> : <span>{{recName.email}} </span> <br>
                    <b>Languages</b> : {{recName.languages}} <br>
                    <b>Website</b> : {{recName.website}} <br>
                    <b>Specialization</b> : {{recName.specialization}} <br>
                    <b>city</b>: {{recName.city}}<br>
                    <b>Timings</b> :  <li ng-repeat="timeRec in recName.timings">
                                              {{timeRec.dayTime}} 
                                              </li>
                    <b>Qualification</b> : {{recName.qualification}} <br>
                    <b>Ratings</b> : 
                    <li ng-repeat="i in recName.rating" style="font: bold">
                      <b>Ratings By users</b>: {{i.ratingByUser}}<br>
                      <b>Comment By Users</b>: {{i.commentByUser}}<br>
                      <b>Date and time by user</b>: {{i.dateTimeByUser}}<br>
                      </li>
                      <br>
          
                    <b>Rate Doctor</b>:     
                    <select id="mode" ng-model="formData.rate">
                    <option value=""disabled selected>Rating</option>
                    <option value="rate1">1</option>
                    <option value="rate2">2</option>
                    <option value="rate3">3</option>
                    <option value="rate4">4</option>
                    <option value="rate5">5</option>
                    </select><br><br>

                    <b>Comment</b>:
                    <textarea ng-model="formData.alltext" style="width:70%; height: 40%;" ></textarea><br><br>
                    <button class="submit" type="button" class="btn btn-success" ng-click="onComment()">Submit</button><br><br><br>
          </div>
          <br>  
     
        <button ng-click="setMarker(recName.latitude,recName.longitude)">show on map</button>                
        <button ng-click="bool=!bool">Show/Hide more data</button> 
        <hr id="dotted">
      </div>
      </div>
    </div>

    <div id="map"></div>
</body>